<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag("http://placeskull.com/300/320/307d7e/25", :alt => "Your image alt gose here...") %>
	</div><!-- //profile_image -->

	<div id="content">
		<h2>It's Mr. Stick Figure</h2>
		<p>Single-origin coffee four loko post-ironic gluten-free. Cardigan hella banjo polaroid artisan, kitsh trust fund cray. Austin asymmetrical gentrify, marfa put a bird on it gastropub intelligentsia migas cray. Put a bird on it tattooed synth, gentrify semiotics asymmetrical chambray yr distillery beard brooklyn master cleanse, bicycle rights YOLO messenger bag taxidermy ramps.. Locavore tote bag whatever meditation mustache.</p>
	</div><!-- //content -->
</div><!-- //page_wrapper -->